#sex-form {
	width: 375px;
	margin-left: auto ;
    margin-right: auto ;
    padding-top: 60px;
}

#sex-form div {
	float: right;
	width: 375px;
	padding: 50px;
}

#sex-form label {
	float: left;
	width: 90px;
}

#submitbtn {
	float: right;
	width: auto;
	margin-right: 10px;
}

#sex-form input:focus {
	background-color: #C9E948;
}