/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

#welcome {
	background-color: #9C25A9;
	position: relative;
	left: 56%;
	top: 24.8%;
	width: 0%;
}

#welcome img {
	position: relative;
	left: 10%;
	width: 443px;
}

.carousel {
  position: absolute;
  top: 31%;
  left: 6%;
  width: 50.01%;
}

.btn-primary {
  color: #fff;
  background-color: #EE76F9;
  border-color: #EE76F9;
  position: absolute;
  left:56%;
  bottom: 24.1%;
  width: 36.2%;
  height: 21%;
  font-size: 4em;
}

}